.button{
    display: block;
    margin-left: auto;
    margin-top: 46%;
    margin-right: auto;
    width: 40%;
    padding: 10px;
    background-color: chartreuse;
    text-align: center;
    font-size: larger;
}